---
title: Ken Chen's Blog
layout: zh-tw/layouts/home.njk
description: 分享後端架構與技術開發相關內容
image: /img/favicon/favicon.png
date: Last Modified
pagination:
  data: collections.posts
  size: 8
  alias: posts
  reverse: true
permalink: /{% if pagination.pageNumber > 0 %}articles/{{ pagination.pageNumber }}/{% endif %}
---

<div class="posts">
  {% set postslist = posts %}
  {% include "zh-tw/home-postslist.njk" %}
</div>

{% include "zh-tw/pagination.njk" %}
