{% for post in postslist %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
    </h2>
    <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
    {% for tag in post.data.tags %}
      {% if tag !== "posts" %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag post-tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
    <div class="post-description">
      {{ post.data.description | safe }}
    </div>
  </div>
{% endfor %}