{% for post in postslist %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
    </h2>
    <div class="post-description">
      {{ post.data.description | safe }}
    </div>
    <div class="post-info">
      <div class="post-read-more">
        <a href="{{ post.url | url }}">Read More</a>
      </div>
    </div>
  </div>
{% endfor %}