---
templateClass: tmpl-post
---
{% extends "zh-tw/layouts/base.njk" %}

{% block extraArticleHeader %}
   <aside class="w-full">
      <div class="post-avatar">
        <div class="post-avatar__time">
          {{ metadata.author.name }} | {{ date | readableDate }}
          {% for tag in tags %}
            {% if tag !== "posts" %}
              {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
              <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
   </aside>
{% endblock %}


{% set shareUrl = metadata.url + page.url %}

{% block article %}
<div id="post-page"></div>
{{ content | safe }}
<div class="article-footer">
</div>
<div>
  <p style="font-weight: bold;">標籤</p>
  <div class="post-tags">
    {% for tag in tags %}
      {% if tag !== "posts" %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endif %}
      
    {% endfor %}
  </div>
  <p style="font-weight: bold;">其他文章</p>
  <ul>
    {%- for entry in collections.posts | recommendation(title) | randomPick(5) | reverse %}
      <li><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></li>
    {%- endfor %}
  </ul>
</div>

<p style="font-weight: bold;">評論</p>
<script
  id="utterance-script"
  src="https://utteranc.es/client.js"
  repo="ken00535/blog"
  issue-term="title"
  label="utterance"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>

<!--
<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>
-->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": {
    "@type": "Person",
    "name": "{{ postAuthor.name }}"
  }, 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "url": "{{ metadata.url }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon.png' | absoluteUrl(metadata.url) }}",
      "width": 512,
      "height": 512
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
